## ‚öõÔ∏è Data Science - Training Activities ‚öôÔ∏è (Activity N¬∞ 2)

#### *By: Jiliar Silgado Cardona*

‚úÖ [***LinkedIn***](https://www.linkedin.com/in/jiliar-silgado-cardona-4b970b286/)

‚úÖ [***GitHub***](https://github.com/Jiliar)

### üí°Introduction to the Activity Report: Dataframes and Data Cleaning

This report presents the results of one key activities focused on data analysis and manipulation. The activity involved using Jupyter Notebook to work with a given dataset, applying specific functions to explore and clean the variables it contains.

#### General Resources for Solutions:

##### Functions

In [37]:
# Pandas Importing
import pandas as pd 

def get_file_details(file):

    # Reading the CSV file into a DataFrame, with the specified column set as the index.
    df = pd.read_csv(file)  

    # Stripping leading and trailing spaces from the column headers.
    df.columns = df.columns.str.strip()

    # Returning the cleaned DataFrame.
    return df

### Activity 1: Iterative cleaning

#### ‚úçÔ∏è Statement

Write blocks of code and Markdown in a Jupyter html file where variables are taken from a given database and the following is done to them:

+ Cleaning a special character.
+ Reducing nits of length greater than 9.

#### üí°Introduction

The methodology will involve processing the variables from a given dataset by addressing specific issues, such as removing unwanted special characters and standardizing the length of NITs to ensure they do not exceed nine digits. This approach will help prepare the data for subsequent analysis, ensuring consistency and accuracy across the dataset.

#### üì• Input:

***Download Page:*** [10.000 Empresas mas Grandes del pa√≠s](https://www.datos.gov.co/Comercio-Industria-y-Turismo/10-000-Empresas-mas-Grandes-del-Pa-s/6cat-2gcs/about_data)

In [40]:
input1 = "../data/csv/10.000_Empresas_mas_Grandes_del_Pa_s_20240822.csv" # Specify the path to the CSV file.

# Call the get_file_details function, passing in the file path and setting the first column (index 0) as the index.
# Use the .head() method to display the first 5 rows of the DataFrame.
df = get_file_details(input1)
df.head()

,NIT,RAZ√ìN SOCIAL,SUPERVISOR,REGI√ìN,DEPARTAMENTO DOMICILIO,CIUDAD DOMICILIO,CIIU,MACROSECTOR,INGRESOS OPERACIONALES,GANANCIA (P√âRDIDA),TOTAL ACTIVOS,TOTAL PASIVOS,TOTAL PATRIMONIO,A√±o de Corte
0,899999068,ECOPETROL S.A,SUPERFINANCIERA,Bogot√° - Cundinamarca,BOGOTA D.C.,BOGOTA D.C.-BOGOTA D.C.,610,MINERO,$144.82,$33.41,$216.85,$125.81,$91.03,2022
1,900112515,REFINERIA DE CARTAGENA S.A.S,SUPERSOCIEDADES,Costa Atl√°ntica,BOLIVAR,CARTAGENA-BOLIVAR,1921,MANUFACTURA,$27.86,$2.19,$42.84,$16.48,$26.36,2022
2,830095213,ORGANIZACI√ìN TERPEL S.A.,SUPERFINANCIERA,Bogot√° - Cundinamarca,BOGOTA D.C.,BOGOTA D.C.-BOGOTA D.C.,4661,COMERCIO,$23.60,$0.33,$7.48,$4.47,$3.01,2022
3,860069804,CARBONES DEL CERREJON LIMITED,SUPERSOCIEDADES,Bogot√° - Cundinamarca,BOGOTA D.C.,BOGOTA D.C.-BOGOTA D.C.,510,MINERO,$16.39,$6.05,$10.45,$9.00,$1.45,2022
4,800021308,DRUMMOND LTD,SUPERSOCIEDADES,Bogot√° - Cundinamarca,BOGOTA D.C.,BOGOTA D.C.-BOGOTA D.C.,510,MINERO,$15.27,$2.16,$14.27,$6.34,$7.93,2022

### ‚öôÔ∏è Data Processing:

### üìù 1. Cleaning a special character:

In [496]:
df.dtypes

NIT                        int64
RAZ√ìN SOCIAL              object
SUPERVISOR                object
REGI√ìN                    object
DEPARTAMENTO DOMICILIO    object
CIUDAD DOMICILIO          object
CIIU                       int64
MACROSECTOR               object
INGRESOS OPERACIONALES    object
GANANCIA (P√âRDIDA)        object
TOTAL ACTIVOS             object
TOTAL PASIVOS             object
TOTAL PATRIMONIO          object
A√±o de Corte               int64
dtype: object

In [446]:
import pandas as pd  # Import pandas for DataFrame manipulation
import re  # Import the regular expression module for pattern matching

def find_special_characters(df):
    special_chars = {}  # Initialize an empty dictionary to store special characters by column
    # Define a regex pattern to find any character that is not a letter, number, or whitespace
    pattern = re.compile(r'[^a-zA-Z0-9\s]')
    # Iterate over each column in the DataFrame
    for column in df.columns:  
        # Convert all values in the column to strings, then combine them into a single string
        combined_text = " ".join(df[column].astype(str))
        # Use regex to find all special characters in the combined string and store them as a set
        matches = set(re.findall(pattern, combined_text))
        # If any special characters were found, add them to the dictionary with the column name as the key
        if matches:
            special_chars[column] = matches
    # Return the dictionary containing special characters by column
    return special_chars  

find_special_characters(df)

{'RAZ√ìN SOCIAL': {'"',
  '&',
  "'",
  '(',
  ')',
  '+',
  ',',
  '-',
  '.',
  '/',
  ':',
  '?',
  '|',
  '¬¥',
  '¬ø',
  '√Ä',
  '√Å',
  '√Ñ',
  '√á',
  '√à',
  '√â',
  '√å',
  '√ç',
  '√ë',
  '√ì',
  '√ö',
  '√ú',
  '√°',
  '√©',
  '√≠',
  '√±',
  '√≥',
  '√∫',
  '‚Äì',
  '‚Äô'},
 'REGI√ìN': {'-', '√°', '√≠'},
 'DEPARTAMENTO DOMICILIO': {'.', '√ë'},
 'CIUDAD DOMICILIO': {'(', ')', '-', '.', '√Å', '√â', '√ë'},
 'MACROSECTOR': {'√ì'},
 'INGRESOS OPERACIONALES': {'$', '.'},
 'GANANCIA (P√âRDIDA)': {'$', '-', '.'},
 'TOTAL ACTIVOS': {'$', '.'},
 'TOTAL PASIVOS': {'$', '.'},
 'TOTAL PATRIMONIO': {'$', '-', '.'}}

In [498]:
#Cleaning character '$' in columns: INGRESOS OPERACIONALES, GANANCIA (P√âRDIDA), TOTAL ACTIVOS, TOTAL PASIVOS, TOTAL PATRIMONIO

# Remove the dollar sign '$' from the 'INGRESOS OPERACIONALES' column and convert the values to float
df['GANANCIA (P√âRDIDA)'] = df['GANANCIA (P√âRDIDA)'].str.replace('$', '', regex=False).astype(float)
# Remove the dollar sign '$' from the 'INGRESOS OPERACIONALES' column and convert the values to float
df['INGRESOS OPERACIONALES'] = df['INGRESOS OPERACIONALES'].str.replace('$', '', regex=False).astype(float)
# Remove the dollar sign '$' from the 'TOTAL ACTIVOS' column and convert the values to float
df['TOTAL ACTIVOS'] = df['TOTAL ACTIVOS'].str.replace('$', '', regex=False).astype(float)
# Remove the dollar sign '$' from the 'TOTAL PASIVOS' column and convert the values to float
df['TOTAL PASIVOS'] = df['TOTAL PASIVOS'].str.replace('$', '', regex=False).astype(float)
# Remove the dollar sign '$' from the 'TOTAL PATRIMONIO' column and convert the values to float
df['TOTAL PATRIMONIO'] = df['TOTAL PATRIMONIO'].str.replace('$', '', regex=False).astype(float)
# Display the modified DataFrame
df.head()

,NIT,RAZ√ìN SOCIAL,SUPERVISOR,REGI√ìN,DEPARTAMENTO DOMICILIO,CIUDAD DOMICILIO,CIIU,MACROSECTOR,INGRESOS OPERACIONALES,GANANCIA (P√âRDIDA),TOTAL ACTIVOS,TOTAL PASIVOS,TOTAL PATRIMONIO,A√±o de Corte
0,899999068,ECOPETROL S.A,SUPERFINANCIERA,Bogot√° - Cundinamarca,BOGOTA D.C.,BOGOTA D.C.-BOGOTA D.C.,610,MINERO,144.82,33.41,216.85,125.81,91.03,2022
1,900112515,REFINERIA DE CARTAGENA S.A.S,SUPERSOCIEDADES,Costa Atl√°ntica,BOLIVAR,CARTAGENA-BOLIVAR,1921,MANUFACTURA,27.86,2.19,42.84,16.48,26.36,2022
2,830095213,ORGANIZACI√ìN TERPEL S.A.,SUPERFINANCIERA,Bogot√° - Cundinamarca,BOGOTA D.C.,BOGOTA D.C.-BOGOTA D.C.,4661,COMERCIO,23.60,0.33,7.48,4.47,3.01,2022
3,860069804,CARBONES DEL CERREJON LIMITED,SUPERSOCIEDADES,Bogot√° - Cundinamarca,BOGOTA D.C.,BOGOTA D.C.-BOGOTA D.C.,510,MINERO,16.39,6.05,10.45,9.00,1.45,2022
4,800021308,DRUMMOND LTD,SUPERSOCIEDADES,Bogot√° - Cundinamarca,BOGOTA D.C.,BOGOTA D.C.-BOGOTA D.C.,510,MINERO,15.27,2.16,14.27,6.34,7.93,2022

In [500]:
# Print the data types of each column in the DataFrame to verify the conversion.
print(df.dtypes)

NIT                         int64
RAZ√ìN SOCIAL               object
SUPERVISOR                 object
REGI√ìN                     object
DEPARTAMENTO DOMICILIO     object
CIUDAD DOMICILIO           object
CIIU                        int64
MACROSECTOR                object
INGRESOS OPERACIONALES    float64
GANANCIA (P√âRDIDA)        float64
TOTAL ACTIVOS             float64
TOTAL PASIVOS             float64
TOTAL PATRIMONIO          float64
A√±o de Corte                int64
dtype: object

In [502]:
data = df.iloc[0:6,[7,8,9,10,11,12]]
data

,MACROSECTOR,INGRESOS OPERACIONALES,GANANCIA (P√âRDIDA),TOTAL ACTIVOS,TOTAL PASIVOS,TOTAL PATRIMONIO
0,MINERO,144.82,33.41,216.85,125.81,91.03
1,MANUFACTURA,27.86,2.19,42.84,16.48,26.36
2,COMERCIO,23.60,0.33,7.48,4.47,3.01
3,MINERO,16.39,6.05,10.45,9.00,1.45
4,MINERO,15.27,2.16,14.27,6.34,7.93
5,COMERCIO,15.13,0.10,14.85,7.62,7.23

### üìù 2. Conditional length reduction.

In [565]:
# Import the custom data cleaning library named 'clean_data_lib' with an alias 'clean'
import clean_data_lib as clean

# Import pandas library for data manipulation
import pandas as pd

# Assume 'df' is an existing DataFrame that has been previously defined elsewhere in the code
# Create an initial placeholder for the 'result' DataFrame
result = pd.DataFrame

# Call the 'length_standardize' function from the 'clean' library to standardize column lengths
# Here, 'df' is the DataFrame to process, 'NIT' is the column to standardize, and 9 is the maximum length
data1 = clean.lenght_standarize(df, 'NIT', 9)

# Check if 'data1' is not None, which means the 'length_standardize' function made changes
if data1 is not None:
    # If 'data1' is not None, assign the modified DataFrame to 'result'
    result = data1
else:
    # If 'data1' is None (i.e., no changes were made), assign the original DataFrame 'df' to 'result'
    result = df

# Display the first few rows of the 'result' DataFrame to verify the outcome
result.head()

There are not values in column NIT with length greater than zero (0)

,NIT,RAZ√ìN SOCIAL,SUPERVISOR,REGI√ìN,DEPARTAMENTO DOMICILIO,CIUDAD DOMICILIO,CIIU,MACROSECTOR,INGRESOS OPERACIONALES,GANANCIA (P√âRDIDA),TOTAL ACTIVOS,TOTAL PASIVOS,TOTAL PATRIMONIO,A√±o de Corte
0,899999068,ECOPETROL S.A,SUPERFINANCIERA,Bogot√° - Cundinamarca,BOGOTA D.C.,BOGOTA D.C.-BOGOTA D.C.,610,MINERO,144.82,33.41,216.85,125.81,91.03,2022
1,900112515,REFINERIA DE CARTAGENA S.A.S,SUPERSOCIEDADES,Costa Atl√°ntica,BOLIVAR,CARTAGENA-BOLIVAR,1921,MANUFACTURA,27.86,2.19,42.84,16.48,26.36,2022
2,830095213,ORGANIZACI√ìN TERPEL S.A.,SUPERFINANCIERA,Bogot√° - Cundinamarca,BOGOTA D.C.,BOGOTA D.C.-BOGOTA D.C.,4661,COMERCIO,23.60,0.33,7.48,4.47,3.01,2022
3,860069804,CARBONES DEL CERREJON LIMITED,SUPERSOCIEDADES,Bogot√° - Cundinamarca,BOGOTA D.C.,BOGOTA D.C.-BOGOTA D.C.,510,MINERO,16.39,6.05,10.45,9.00,1.45,2022
4,800021308,DRUMMOND LTD,SUPERSOCIEDADES,Bogot√° - Cundinamarca,BOGOTA D.C.,BOGOTA D.C.-BOGOTA D.C.,510,MINERO,15.27,2.16,14.27,6.34,7.93,2022